<?xml version="1.0"?>
<model>
  <name>bi_copter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>sheka</name>
    <email>mohammedabdelsaboor@gmail.com</email>
  </author>
  <description>Tilt-rotor bi-copter (2 motors + 2 tilt servos), PX4 gz_bridge compatible.</description>
</model>
